*
  font-family: -apple-system, system-ui, Roboto, "Open Sans", "Helvetica Neue", sans-serif
  font-weight: normal
  outline: none
  box-sizing: border-box
  margin: 0
  padding: 0
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body, html
//   font-size: 16px
  // font-size: 1em

a
  text-decoration: none

button
  border: none
  background-color: rgba(255, 255, 255, 0)
  cursor: pointer

h1
  // font-size: 32px
  font-size: 2em
h2
  // font-size: 24px
  font-size: 1.5em
h3
  // font-size: 18px
  font-size: 1.125em
h4
  // font-size: 16px
  font-size: 1em

h1, h2, h3
  b
    font-weight: 500
span
  // font-size: 15px
  font-size: .9375em
p
  // font-size: 14px
  font-size: .875em
small
  // font-size: 13px
  font-size: .8125em

textarea
  width: 100%

.App
  max-height: 100vh
  display: flex
  flex-direction: column
  align-items: stretch
  .content
    flex-grow: 1
    flex-shrink: 0
    display: flex
    flex-direction: column
    align-items: stretch

.container
  height: 100%
  margin: auto
  margin-top: 0
  margin-bottom: 0

.smart-content
  position: absolute
  width: 100%
  height: 100%
  top: 0
  bottom: 0





//ITERFACE BLOCK
$interface-block-margin: 8px
$interface-block-padding: 8px
.interface-block
  width: calc(100% - 2 * #{$interface-block-margin})
  margin: $interface-block-margin $interface-block-margin 0 $interface-block-margin
  position: relative
  &__backdrop
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, .75)
    border-radius: 5px
  &__content
    padding: $interface-block-padding
    position: relative







//VIEWER
$canvas-offset: 40px
.page-container
  position: relative
  width: 100vw
  height: 100vh
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  @media (max-width: 1024px)
    flex-direction: column
  .Viewer,
  .interface-container
    position: absolute
  .viewer-container,
    width: 100%
    // height: 100%
    // bottom: 0
    // right: 0
    flex-grow: 1
    overflow: hidden
    position: relative
  .Viewer
    width: 100%
    height: 100%
    bottom: 0
    right: 0
  .interface-container
    z-index: 2
    width: 20%
    min-width: 800px
    height: 100%
    bottom: 0
    right: 0
    overflow: hidden
    .backdrop-blur
      position: absolute
      width: calc(100vw + 2 * #{$canvas-offset})
      height: calc(100vh + 2 * #{$canvas-offset})
      opacity: .99
      overflow: hidden
      bottom: -$canvas-offset
      right: -$canvas-offset
      canvas
        filter: blur(8px)
      &::after
        width: 100%
        height: 100%
        position: absolute
        content: ""
        bottom: 0
        right: 0
        background-color: rgba(125, 125, 125, .5)
        z-index: 4
    .interface
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 5




$arrow-size: 7px

.rating
  &-row
    width: 100%
    display: table
    padding: 3px 10px
    background: white
    border-bottom: 1px solid #c1c1c1
    border-left: 1px solid #c1c1c1
    &__index
      width: 20px
      float: left
      font-size: 12px
      color: grey
      padding-top: 2px
    &__name
      width: 200px
      float: left
      position: relative
      padding-left: 20px
      font-size: 14px
    &__connections
      width: 25px
      float: right
      font-size: 14px
      font-weight: 600
      color: #110cd7
    &__addition
      width: 35px
      min-height: 1px
      float: right
      font-size: 14px
      color: green
  &-row.up, &-row.down, &-row.neutral
    .rating-row__name::before
      position: absolute
      content: ""
      top: 4px
      left: 0
      width: 0
      height: 0
      border-style: solid
  &-row.up .rating-row__name::before
      border-width: 0 $arrow-size $arrow-size $arrow-size
      border-color: transparent transparent green transparent
      transform: scale(0.66, 1)
  &-row.down .rating-row__name::before
      border-width: $arrow-size $arrow-size 0 $arrow-size
      border-color: red transparent transparent transparent
      transform: scale(0.66, 1)
  &-row.neutral .rating-row__name::before
      width: $arrow-size * 1.15
      height: $arrow-size * 1.15
      border-radius: $arrow-size
      background-color: #aaaaaa
      border: 0
      left: 3px
      top: 3px










.text-interface
  width: 400px
  height: 100%
  background-color: white
  z-index: 10000
  @media (max-width: 1024px)
    width: 100%
    height: auto
  &__search-bar
    padding: 10px
  .node-info
    padding: 0 0 5px
    &__item
      width: 100%
      line-height: 22px
      padding: 0 11px





$red: #9a3323
$light: white
$dark: black
$light-gray: #cccccc
$dark-gray: #999999
// $light-light-gray: #f6f6f6
$light-light-gray: #f3f6f7
// $secondary: #c3562b
$secondary: #aaff09
$box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
$input-height: 32px

.form-group
  // padding: 14px 10px 0
  // margin: 2px 0 10px
  position: relative
  &__label
    position: absolute
    font-size: 12px
    top: 0
    left: 15px
  &__input
    position: relative
    width: 100%
    line-height: $input-height
    padding: 0 10px
    font-size: 16px
    outline: none
    border: 1px solid $light-gray
    background: $light-light-gray
    -webkit-appearance: none
    border-radius: 5px
    &::placeholder
      color: #b1b1b1

    &--dropdown
      cursor: pointer
      color: $dark
      line-height: 2
      position: relative
      user-select: none
      background: white
      z-index: 101
      &::after
        position: absolute
        width: 8px
        height: 8px
        content: ""
        top: 10px
        right: 10px
        border-bottom: 2px solid $secondary
        border-right: 2px solid $secondary
        transform: rotate(45deg)
      &__options
        position: absolute
        display: table
        overflow: hidden
        border-radius: 3px
        box-shadow: $box-shadow
        width: 100%
        top: 100%
        left: 0
        z-index: 100
        user-select: none
        &--default
          top: calc(100% + 4px)
        &__item
          position: relative
          z-index: 1000
          min-width: 100%
          background-color: $light
          color: $dark
          // font-weight: $font-weight-semibold
          padding: .5rem .8rem
          cursor: pointer
          &:last-child
            border-bottom-left-radius: 3px
            border-bottom-right-radius: 3px
          &:hover
            background-color: $secondary
          p
            font-size: 16px
            em
              color: $dark-gray
              font-style: normal

$reset-size: 22px
.reset
  position: absolute
  top: 1px
  right: 1px
  height: $input-height
  width: $input-height
  border: none
  cursor: pointer
  // background: #ffffff
  outline:none
  display: flex
  align-items: center
  justify-content: center
  &:before
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234a4a4a' width='#{$reset-size}' height='#{$reset-size}' viewBox='0 0 320 512'%3E%3Cpath d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/%3E%3C/svg%3E")
    display: block
    height: $reset-size
    width: $reset-size



$mobile-expander-area-height: 26px
$mobile-expander-button-width: 40px
$mobile-expander-button-height: 5px

.mobile-expander
  width: 100%
  height: $mobile-expander-area-height
  position: relative
  z-index: 99
  &__abs-container
    width: 100%
    position: absolute
    top: 0
    left: 0
    display: flex
    flex-direction: column
    align-items: stretch
    box-shadow: 0 10px 12px rgba(0, 0, 0, .15)
  &__static-content-container
    width: 100%
    display: table
  &__expanding-content-container
    width: 100%
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .88 ))
    -webkit-backdrop-filter: blur(20px) //weeeeell
    transition: height .15s
    &.closed
      height: 0
      overflow: hidden
    &.opened
      height: 70vw
      // overflow: auto
    &.moving
      overflow: hidden
      transition: height 0s
  &__draggable-arrow
    position: relative
    height: $mobile-expander-area-height
    width: 100%
    background-color: $light
    cursor: pointer
    &::after, &::before
      position: absolute
      bottom: calc((#{$mobile-expander-area-height} - #{$mobile-expander-button-height}) / 2)
      content: ""
      border-radius: $mobile-expander-button-height * 2
      background-color: $dark-gray
      width: $mobile-expander-button-width / 2 + $mobile-expander-button-height / 1.1
      height: $mobile-expander-button-height
      transition: transform .08s
    &::before
      left: calc((100% - #{$mobile-expander-button-width} - #{$mobile-expander-button-height}) / 2)
      transform-origin: center right
    &::after
      right: calc((100% - #{$mobile-expander-button-width} - #{$mobile-expander-button-height}) / 2)
      transform-origin: center left
    
    &.opened
      &::before
        transform: rotate(-15deg) translate(0, -$mobile-expander-button-height / 2)
      &::after
        transform: rotate(15deg) translate(0, -$mobile-expander-button-height / 2)
      
    &.closed
      &::before
        transform: rotate(15deg) translate(0, $mobile-expander-button-height / 2)
      &::after
        transform: rotate(-15deg) translate(0, $mobile-expander-button-height / 2)

    &.moving
      &::before
        transform: rotate(0deg) translate(0, 0)
      &::after
        transform: rotate(0deg) translate(0, 0)
